body {
    display: flex;
    flex-direction: column;
}

#secOne {
    background-color: #1F2937;
    width: 100%;
    padding-bottom: 150px;;
}

header,
.links {
    display: flex;
}

.links {
    gap: 50px;
}

header {
    justify-content: space-between;
}

h1,
h2 {
    color: white;
    font-family: "Roboto", sans-serif;
}

.headerLeft {
    margin-left: 250px;
    font-weight: 700;
}

h2 {
    font-weight: 100;
}

.links {
    margin-right: 250px;
}

.placeholder {
    display: flex;
    margin-top: 100px;
    gap: 20px;
}

.uppercase {
    font-size: 50px;
    margin-top: 0;
}

span {
    display: block;
}

.margin {
    font-size: 20px;
}

h1 {
    margin-bottom: 0;
}

.imageholder {
    margin-right: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(209,201,205,0.8);
    width: 900px;
    height: auto;
}

.backgroundimage {
    font-weight: 300;
}

.button {
    background-color: #3882F6;
    display: inline-block;
    padding: 10px 25px;  
    border-radius: 10px;
}

.sign {
    margin-top: 0;
}

.text {
    margin-left: 250px;
}